@media (min-width: 1300px) {
    #left-side,
    #right-side {
        height: 70vh !important;
    }

    #refers {
        padding-right: 0 !important;
    }

    .title {
        font-size: 1.5vw !important;
    }

    .item-text {
        font-size: 1.4vw !important;
    }

    .refer-item-text {
        font-size: 1.35vw !important;
    }

    .contact-text {
        font-size: 1.2vw !important;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    #left-side,
    #right-side {
        height: 60vh !important;
    }

    #refers {
        padding-right: 0 !important;
    }

    .title {
        font-size: 1.5vw !important;
    }

    .item-text {
        font-size: 1.4vw !important;
    }

    .refer-item-text {
        font-size: 1.35vw !important;
    }

    .contact-text {
        font-size: 1.2vw !important;
    }

    .refer-item {
        margin-bottom: 0.5vw !important;
    }
}

@media (min-width: 1060px) and (max-width: 1200px) {
    #left-side,
    #right-side {
        height: 58vh !important;
    }

    #refers {
        padding-right: 0 !important;
    }

    .title {
        font-size: 1.7vw !important;
    }

    .item-text {
        font-size: 1.7vw !important;
    }

    .refer-item-text {
        font-size: 1.7vw !important;
    }

    .contact-text {
        font-size: 1.5vw !important;
    }

    .refer-item {
        margin-bottom: 4vw !important;
    }
}

@media (min-width: 1000px) and (max-width: 1060px) {
    #left-side,
    #right-side {
        height: 58vh !important;
    }

    #best-products {
        padding-right: 6vw !important;
    }

    #services {
        padding-right: 2.5vw !important;
    }

    #refers {
        padding-right: 0 !important;
    }

    .title {
        font-size: 1.7vw !important;
    }

    .item-text {
        font-size: 1.8vw !important;
    }

    .refer-item-text {
        font-size: 1.7vw !important;
    }

    .contact-text {
        font-size: 1.5vw !important;
    }
}

@media (min-width: 860px) and (max-width: 1000px) {
    #left-side,
    #right-side {
        height: 50vh !important;
    }

    #best-products {
        padding-right: 6vw !important;
    }

    #services {
        padding-right: 2.5vw !important;
    }

    #refers {
        padding-right: 0 !important;
    }

    .title {
        font-size: 1.7vw !important;
    }

    .item-text {
        font-size: 1.8vw !important;
    }

    .refer-item-text {
        font-size: 1.7vw !important;
    }

    .contact-text {
        font-size: 1.5vw !important;
    }

    #slogan {
        margin: 3rem 3rem !important;
    }
}

@media (min-width: 760px) and (max-width: 860px) {
    #left-side,
    #right-side {
        height: 50vh !important;
    }

    #best-products {
        padding-right: 6vw !important;
    }

    #services {
        padding-right: 2.5vw !important;
    }

    #refers {
        padding-right: 0 !important;
    }

    .title {
        font-size: 1.7vw !important;
    }

    .item-text {
        font-size: 1.8vw !important;
    }

    .refer-item-text {
        font-size: 1.7vw !important;
    }

    .contact-text {
        font-size: 1.5vw !important;
    }

    .social-item {
        margin: 0 0.5rem !important;
    }

    #slogan {
        margin: 2.7rem 3rem !important;
    }
}

@media (min-width: 660px) and (max-width: 760px) {
    #left-side,
    #right-side {
        height: 45vh !important;
    }

    #best-products {
        padding-right: 6vw !important;
    }

    #services {
        padding-right: 2.5vw !important;
    }

    #refers {
        padding-right: 0 !important;
    }

    .title {
        font-size: 1.7vw !important;
    }

    .item-text {
        font-size: 1.8vw !important;
    }

    .refer-item-text {
        font-size: 1.7vw !important;
    }

    .contact-text {
        font-size: 1.5vw !important;
    }

    .social-item {
        margin: 0 0.5rem !important;
    }

    #slogan {
        margin: 2.5rem 3rem !important;
    }
}

@media (min-width: 560px) and (max-width: 660px) {
    #left-side,
    #right-side {
        height: 40vh !important;
    }

    #best-products {
        padding-right: 6vw !important;
    }

    #services {
        padding-right: 2.5vw !important;
    }

    #refers {
        padding-right: 0 !important;
    }

    .title {
        font-size: 1.7vw !important;
    }

    .item-text {
        font-size: 1.8vw !important;
    }

    .refer-item-text {
        font-size: 1.7vw !important;
    }

    .contact-text {
        font-size: 1.5vw !important;
    }

    .social-item {
        margin: 0 0.5rem !important;
    }

    #slogan {
        margin: 2.3rem 3rem !important;
    }
}

@media (min-width: 560px) {
    #footer-large {
        display: block;
    }

    #footer-small {
        display: none;
    }
}

/*
    After 560px width, the layout must be changed
*/

@media (max-width: 560px) {
    #footer-large {
        display: none;
    }

    #footer-small {
         display: block;
    }

    #left-side,
    #right-side {
        height: 40vh !important;
    }

    #best-products {
        padding-right: 4vw !important;
    }

    #services {
        padding-right: 0vw !important;
    }

    .title {
        font-size: 2.5vw !important;
    }

    .item-text {
        font-size: 1.8vw !important;
    }

    .refer-item-text {
        font-size: 3vw !important;
    }

    .refer-item {
        margin-bottom: 4vw !important;
    }

    .contact-text {
        font-size: 3vw !important;
    }

    .social-item {
        margin: 0.5rem 1rem !important;
        width: 7.5vw !important;
    }

    #slogan {
        margin: 2rem 3rem !important;
        font-size: 3vw !important;
        text-align: center !important;
    }

    #contact-components {
        margin: 0 !important;
        padding: 0 !important;
        width: 60% !important;
    }

    #refers {
        padding-right: 0 !important;
        width: 40% !important;
    }
}
