@media (min-width: 530px) {
    .spacer {
        margin-top: 4rem;
    }

    .scroll-top {
        margin: 25px;
    }
}

@media (max-width: 530px) {
    .spacer {
        margin-top: 5rem;
    }

    .scroll-top {
        margin: 10px;
    }
}
